.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
.quartz/
quartz/cli/tui/dist/

.vercel
.env*

.smart-env
.trash

content/leetcode
content/_textbooks
content/temlater_scripts
content/private